/* Style of the classroom page
*/
#border{
	background-image:url("../images/Classroom.jpg");
	background-repeat:no-repeat;

	background-size:cover;
	}

#binder{
	width:10vw;
	height:12vh;
	position:absolute;
	top:50%;
	left:37%;

}
#book{
	width:8vw;
	height:8vh;
	position:absolute;
	top:67%;
	right:25%;

}
#pen{
	width:10vw;
	height:10vh;
	position:absolute;
	bottom: 10%;
	left: 50%;

}
#waterbottle{
	height:15vh;
	position:absolute;
	bottom:12%;
	left:37%;
}
