/* Style of the classroom page
*/
#border{
	background-image:url("../images/Classroom.jpg");
	background-repeat:no-repeat;
	
	background-size:cover;
	}
	
#binder{
	width:10vw;
	height:12vh;
	position:fixed;
	top:50%;
	left:50%;
	
}
#book{
	width:8vw;
	height:8vh;
	position:fixed;
	top:67%;
	right:17%;
	
}
#pen{
	width:10vw;
	height:10vh;
	position:fixed;
	
}
#waterbottle{
	width:8vw;
	height:15vh;
	position:fixed;
}