/* Style of the instruction page
*/
p{
	text-align: center;
	font-size: 150%;
	font-style: normal;
	font-family: Comic Sans MS;
	font-weight: normal;
	color: black;
}
#blah{
	display: block;
	margin: auto;
	width: 50%;
}
h1{
	text-align: center;
	font-size: 200%;
	font-family: Comic Sans MS;
}
button{
	display: block;
	margin: auto;
	width: 50%
}

a:link {
	text-decoration: none;
}