/* Style of the main menu page
*/

#border{
	background-image: url("../images/mainMenuBackground.jpg");
}

#title{
	margin: auto;
	background-color: #00bfff;
	width: 45vw;
	height: 20vh;
	margin-top: 10vh;
	padding: 3%;
}

#title h1{
	text-align: center;
}

#buttons{
	position: absolute;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 10vh;
}

button h1{
	text-align: center;
}
button{
	display: block;
	background-color: #87cefa;
	margin: auto;
	width: 65vw;
	height: 10vh;
}
button:first-child{
	margin-bottom: 5vh;
}

a:link{
	text-decoration: none;
}
