/* Style of the playground page
*/
body
{
	background-image: url("../images/playgroundbackground.png");
}

#football{
	width:8vw;
	position:absolute;
	top:90%; left:1%;
}

#kid1{
	width:20vw;
	position:absolute;
	top:60%; left:3%;
}

#goalie{
	width:40vw;
	position:absolute;
	top:60%; left:65%;
}

#notebook{
	width:10vw;
	position:absolute;
	top:85%; left:35%;
}
