/* Style of the playground page
*/
body
{
	background-image: url("../images/playgroundbackground.png");
}

#keypad {width:15%;height:20%; position:absolute;left:42.5%;bottom:10%;}
#gate{width:100%;height:50%; position:absolute; bottom:0;}