/* Style for the score page*/
td,th,tr{
	border: 2px solid black;
	font-family: Georgia;
}

button {
	font-family: Georgia;
	width:10vw;
	height:10vh;
	font-size:200%;
	padding: 2%;
}

table {
	margin-top: 2%;
	width: 100%;
}

a:link {
	text-decoration: none;
}